footer{
    background: #1B059E;
}

footer .contact{
    padding-top: 100px;
    padding-bottom: 100px;
}
footer .contact h2{
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%; /* 60.76px */
    letter-spacing: -0.84px;
}
footer .contact h4{
    color: #FFF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 108.5%; /* 21.7px */
    letter-spacing: -0.3px;
    margin-bottom: 48px;
}

footer .contact p{
    margin-bottom: 24px;
    color: #FFF;
    font-family: 'IBM Plex Mono', monospace;
}
footer .contact p b{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 108.5%; /* 17.36px */
    letter-spacing: -0.24px;
}
footer .contact p .copy-clipboard{
    cursor: pointer;
}
footer .contact p .copy-clipboard span.content a{
    color: #D9D9D9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%; /* 17.36px */
    letter-spacing: -0.24px;
    position: relative;
    cursor: pointer;
}

footer .contact p .copy-clipboard span.content a:after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    opacity: 0;
    transition: all .3s;
    border: 1px solid #FFF;
}
footer .contact p .copy-clipboard span.content:hover a:after{
    left: 0;
    width: 100%;
    opacity: 1; 
}

footer .contact p .copy-clipboard .copy{
    display: inline-flex;
}

footer .contact p .copy-clipboard.copied .copy svg g,
footer .contact p .copy-clipboard .copy:hover svg g{
    opacity: 1;
}
footer .contact p .copy-clipboard.copied .copy svg g path{
    fill: #0f0;
}

footer .copyright{
    padding-bottom: 28px;
}

footer .copyright .logo img{
    height: 35px;
    width: auto;
}
footer .copyright p{
    color: #D9D9D9;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%; /* 14.105px */
    letter-spacing: -0.195px; 
    margin-bottom: 32px;
}

@media (max-width: 992px) {    
    footer .contact{
        padding-top: 0;
        padding-bottom: 86px;
    }
    footer .contact h3.title{
        font-size: 16px;
    }

    footer .contact h2{
        font-size: 34px;
        font-style: normal;
        letter-spacing: -0.51px;
        margin-bottom: 22px;
    }
    footer .contact h4{
        font-size: 20px;
        margin-bottom: 24px;
    }
    
    footer .contact p b{
        font-size: 16px;
        letter-spacing: -0.24px;
    }
    
    footer .copyright{
        padding-bottom: 2px;
    }
    
    footer .copyright .logo img{
        height: 26px;
        width: auto;
    }
}